<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {{ form.media }}
</head>
<body>
<h1>Top 10 Wikipedia Edits</h1>
<h2>Select Range</h2>
<div id="searchform">
  <form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search" />
  </form>
</div>
</body>
</html>
